SECTION 15.3 DEVELOPMENT REQUIREMENTS
Buildings in the Main Street MUZ should possess architectural variety and must enhance the overall
cohesiveness of the Main Street MUZ character and appearance as determined and described herein.
Except as otherwise noted, buildings and uses in the Main Street MUZ shall comply with the following
requirements:
15.3.1 The ground floor use shall be considered the main use of the building.
15.3.2 Building Placement: Buildings shall be built so that the front building line is within the Build-toArea. The Otsego County Planning Commission may require greater setbacks if such space, in their
determination, is needed for other requirements.
15.3.2.1 Buildings shall have the greatest portion of front coverage along the primary street(s).
15.3.2.2 Buildings may have up to forty percent (40%) or forty feet (40’), whichever is less, of front
façade recessed from the Build-to-Area to allow for courtyards and plazas.
15.3.2.3 Cantilevered or self-supporting awnings, signs or lights may extend into the setback area;
however, they must be a minimum of four feet (4’) away from curbs and shall not be within eight feet
(8’) of the side property lines.
15.3.3 Building Height: New buildings shall contain at least two (2) stories unless the Otsego County
Planning Commission determines a single story will not detract from the character and appearance of
the Main Street MUZ.
15.3.4 Not more than forty percent (40%) of any given floor other than the basement, may be used for
bathrooms, closets, halls, utility or storage spaces and only where incidental to the primary use. All of
the basement (100%) may be used for these incidental uses. Storage areas shall be in the rear one-half
(1/2) of the building.
15.3.5 Façade Design: All visible building façades from a public right-of-way or public land shall conform
to the following design criteria:
15.3.5.1 Architectural Features: Building façades greater than thirty-three feet (33’) in length shall
contain architectural features, details and ornaments. Elements such as wall clocks, decorative light
fixtures and door or window canopies are recommended. Blank, windowless walls are prohibited.
15.3.6 All non-residential buildings must have interior downspout and gutter systems. Exterior downspouts
and gutters are not permitted for non-residential buildings, except for those originally constructed for
single-family residential purposes.
15.3.7 Fenestration: All façades visible from the street must contain glazed glass windows. Spaces
between windows shall be formed by columns, mullions or material found elsewhere on the façade.
Clear window glass is recommended; green, blue, bronze or smoke tints are permitted.
15.3.7.1 Glazing on the first floor shall occupy a minimum twenty-five percent (25%) of the façade; No
glazing on first floor shall be placed less than two feet-six inches (2’6”) above the sidewalk.
15.3.7.2 Glazing on the second or higher floors shall be a minimum of twenty percent (20%).
15.3.8 Building Materials: Building materials must be consistent with the surrounding neighborhood
character. Building materials on the front façade or any façade visible from a public right-of-way must
be primarily of natural materials (brick, stone, wood, cast-stone or other approved material). Each front
façade, any façade visible from a public right-of way and any façade with a dedicated public entrance
into the building, should contain at least sixty percent (60%) of the recommended materials listed below,
excluding window areas:
15.3.8.1 Recommended Materials: Brick, stone, wood and cast stone
15.3.8.2 Acceptable Materials: Split face, scored or ground face block; beveled wood siding (lap,
board and batten, shake); exterior finish insulation systems (EIFS)
15.3.8.3 Other synthetic or highly-reflective materials should not be used, except for decorative or accent
features and limited to a maximum of ten percent (10%) of any face of a story
XV-4
Table of Contents
Otsego County Zoning Ordinance