SECTION 3.3 DISTRICT REQUIREMENTS
All buildings, structures and uses shall be subject to the specific requirements of the District in which the
property they are on or are proposed to be placed upon is located, as well as to all other requirements of this
Ordinance. In particular, the provisions of Article 21 SPECIFIC REQUIREMENTS FOR CERTAIN USES
and Article 22 GENERAL EXCEPTIONS may have particular significance to certain properties and uses.
[See Article 23 SITE PLAN REVIEW ]
SECTION 3.4 AREA AND BULK REQUIREMENTS FOR ALL DISTRICTS
For each district in this Ordinance, the requirements of Article 17 SCHEDULE OF DIMENSIONS establish
the minimum lot area, minimum front, side and rear setbacks, minimum lot width, maximum lot coverage,
maximum height of buildings, minimum ground floor area of a principal structures, minimum width of
principal structures, and Multiple Dwellings minimum floor area per unit and lot size requirements.
SECTION 3.5 ACCESSORY USES ASSUMED
For each district established in this Ordinance, customary accessory buildings and uses which are incidental
to any Principal Uses or Permitted Uses Subject to Special Conditions are permitted provided the maximum
bulk coverage of the lot is not exceeded, all setbacks are adhered to, and any accessory building or use is not
otherwise prohibited or restricted by this Ordinance.
SECTION 3.6 OTHER ORDINANCE CONTROLS
The provisions of the Zoning Ordinance are complimented, supported and/or supplemented by other
development control ordinances that include the following: Airport Zoning, Building Code, Health Code,
Soil Erosion and Sedimentation Control, and such other ordinances as may be enacted or amended from time
to time. [See Article 29 CONFLICTING REGULATIONS]
SECTION 3.7 STRUCTURE OF USES AND INFORMATION
3.7.1 The structure of uses in this Ordinance is as follows:
Uses are allowed only in specified zoning districts. Where allowed, uses are either by right or they are
special land uses.
Uses by right often have specific requirements which must be met, as spelled out in various local, state and
federal laws and the provisions of this Ordinance, principally Article 21 but also including the definitions
section of Article 2 and the zoning district articles themselves.
Special land uses shall be permitted in a zoning district only after review and approval. Such decisions are
considered discretionary under the state enabling legislation (MCLA 125.3502). All discretionary decisions
are governed by Article 19, which spells out criteria and procedures, including giving notice to property
owners.
3.7.2 This Ordinance has a structure for the information which must be presented for zoning approval,
including the following:
Uses require either a site plan or a plot plan.
Site plan procedures and criteria are spelled out principally in Article 23, but also in language associated
with certain specific uses, including Article 18, for LOTS NEAR WATER, Article 19, for SPECIAL LAND
USE, and Article 24, for PUDs.
Plot plan procedures and criteria are spelled out in Article 25.3.3.1.

III-2
Table of Contents

Otsego County Zoning Ordinance