ARTICLE 21 SPECIFIC REQUIREMENTS FOR CERTAIN USES
SECTION 21.1 ACCESSORY BUILDINGS
Amended 5.12.2020

21.1.1 Accessory buildings in the R1, R2, R3 & RR Districts shall be subject to the side and front yard setback
requirements as regulated in Article 17 SCHEDULE OF DIMENSIONS. Accessory buildings, with the
exception of guest houses, need not be farther than ten feet (10’) from the rear property line.
21.1.2 In residential districts all accessory buildings and uses shall be in the rear yard except in the case of one
(1) detached private garage or guest house which may be allowed in the side or front yard, provided it
maintains the setback requirements as regulated in Article 17 SCHEDULE OF DIMENSIONS.
21.1.3 Accessory buildings 200 sq. ft. or less do not require a zoning permit. Such buildings must maintain the
setback requirements defined in Article 17 SCHEDULE OF DIMENSIONS.
21.1.4 Agricultural buildings and structures incident to use for agricultural purposes are exempt from
accessory building requirements.
21.1.5 Accessory buildings other than a guest house shall not be used for residences.
21.1.6 Accessory buildings may not be used for commercial storage. Accessory structures incident to a
permitted or special use in the zoning district which it is located are permitted (for example, an accessory
building for the storage of golf carts would be allowed on an approved golf course in a RR District).
SECTION 21.2 ADULT ENTERTAINMENT
Special Use Permit may be granted by the Planning Commission in a B3 district subject to the following
conditions:
21.2.1 Location: Use shall be located at least five hundred feet (500’) from any residential zoning district
boundary, at least two hundred feet (200’) from any other district boundary, and at least one thousand feet
(1,000’) from any other Adult Entertainment use.
21.2.2 Structure: All Adult Entertainment Uses shall be contained in a freestanding building. Enclosed malls,
commercial strip stores, common wall structures and multi-uses within the same structure do not constitute
a freestanding building.
21.2.3 Visible Display: No Adult Entertainment Use shall be conducted in any manner that permits the
observation of any material depicting, describing, or relating to "specified sexual activities" or "specified
anatomical areas" from any public way or from any property not regulated as an Adult Entertainment Use.
This provision shall apply to any display, decoration, sign, show window or other opening.
SECTION 21.3 AUTOMOBILE AND SCRAP METAL SALVAGE YARDS
Such use shall not be closer than forty feet (40’) from any lot line. There shall be no outdoor storage of materials,
equipment, structures, or debris of any kind anywhere outside the designated storage area.
Such a yard may be approved by the Planning Commission when in accordance with the following:
21.3.1 The uses and activities conducted on the premises are in character with the surrounding area in terms of
overall appearance and protection of environmental amenities. There shall be provided a completely
obscuring wall not to be less than eight feet (8’) in height as measured from the grade at the property line.
21.3.2 The use shall operate in a reasonable manner and all harmful effects of storage, smoke, dust, glare,
noise, fire and explosive hazards shall be confined to the premises and shall be in accord with all other local
and state laws.
21.3.3 In addition to being at least forty feet (40’) from any lot line, the yard must be located not closer than
two hundred feet (200’) from the boundary of any other zoning district. The use, including access road,
must be not closer than five hundred feet (500’) from a lake, stream, pond, river, or wetland and must
maintain a minimum of ten feet (10’) of soil between the soil surface and the water table at all times of the
year.
XXI-1
Table of Contents
Otsego County Zoning Ordinance