the requirements of NRCS Conservation Practice Standard Nutrient Management (590). If the
recommended fertilizer rate exceeds the criteria in NRCS Conservation Practice Standard Nutrient
Management (590), use appropriate mitigating practices to reduce the risk of nutrient losses from the site.
Use vegetation adapted to the site that will accomplish the desired purpose. Preference shall be given to
native species in order to reduce the introduction of invasive plant species; provide management of existing
invasive species; and minimize the economic, ecological, and human health impacts that invasive species
may cause. If native plant materials are not adaptable or proven effective for the plant use, then non-native
species may be used. Refer to the Field Office Technical Guide, Section II, Invasive Plant Species, for
plant materials identified as invasive species.
21.25.2.8 Identify in the plans and specifications the species, rates of seeding or planting, minimum quality
of planting stock, such as PLS or stem caliper, and method of establishment. Use only viable, high
quality seed or planting stock. Use local NRCS criteria for seedbed preparation, seeding rates, planting
dates, depths and methods.
21.25.3 Restore the Quality of Soils to their Pre-Mining Level:
21.25.3.1 Complete a detailed soil survey of the proposed mine area if suitable soils information is not
available. Use the soil survey information to determine the extent and location of prime farmland soils.
21.25.3.2 Remove all upper soil horizons from the project area that are suitable for reconstruction before
operations commence.
21.25.3.3 Separate soils identified with high electrical conductivity, calcium carbonate, sodium or other
restrictive properties, and treat if practicable.
21.25.3.4 Removal of overburden material for use as topsoil. Selected overburden materials can be
substituted for or added to the A and B horizons if field observations and/or chemical and physical
laboratory analyses demonstrate that the material, or a mixture of overburden and original topsoil, is suited
to restoring the capability and productivity of the original A and B horizon material. Analyze overburden
materials for pH, sulfide content, organic matter, nitrogen, phosphorus, potassium, sodium absorption ratio,
electrical conductivity, texture and available water holding capacity. If the overburden material is
determined to be suitable for topsoil, remove and separate from other materials and replace according to the
requirements for topsoil placement.
21.25.3.5 Storage of soil materials. Stockpile soil materials to be used as topsoil until they are needed for
reclamation. Locate stockpiles to protect against wind and water erosion, dust generation, unnecessary
compaction and contamination by noxious weeds, invasive species or other undesirable materials.
21.25.3.6 Replacement of soil material. When placing cover materials, treat graded areas to eliminate
slippage surfaces and promote root penetration before spreading topsoil. Spread topsoil so the position
and thickness of each horizon is equivalent to the undisturbed soil without causing excess compaction the
moist bulk density and soil strength of the reconstructed soil must support plant growth at a level
equivalent to that of a similar layer in undisturbed soil.
21.25.3.7 Reclaim the site to maintain or improve visual quality based on the scenic quality of the reclaimed
site as well as the function of the site for the end land use. Plan the reclamation to be compatible with the
topography and land cover of the adjacent landscape. Focus on areas of high public visibility, and those
offering direct or indirect human and wildlife benefits.
21.25.3.8 Grade and shape spoil piles and borrow areas to blend with the adjacent landscape topography to
the extent practicable.
21.25.3.9 Develop a planting plan that mimics the species, arrangement, spacing and density of plants
growing on adjacent landscapes. Choose native species of erosion control vegetation and other plant
materials where practical. Arrange plantings to screen views, delineate open space, act as windbreaks,
serve as parkland, wildlife habitat or protect stream corridors.
XXI-22
Table of Contents

Otsego County Zoning Ordinance