ARTICLE 20 ROAD AND ACCESS MANAGEMENT REQUIREMENTS
Amended 5.12.2020

SECTION 20.1 PURPOSE
The purpose of this section is to provide reasonable access to all roads within Otsego County while
protecting the public health, welfare, safety and aesthetics of the County. All Land in a parcel having a
single tax code number or contiguous parcels owned by a person as of the effective date of this Ordinance
shall meet the requirements of this Ordinance. The intent of this ordinance is to provide standards, which
will preserve the traffic capacity and enhance the safety of the highway by regulating safe and reasonable
access, though not always direct access, between public roadways and adjacent land. Access controls
provide for orderly growth and development. This in turn will protect the long-term viability of existing
and new businesses in addition to protecting property values of commercial and residential development
along the corridor. It is recognized that existing development may not be able to meet all of the standards
contained in this ordinance; Upon expansion or redevelopment, the standards’ contained herein shall be
applied to the maximum extent possible.
The standards of this section are further intended to:
• Minimize traffic conflicts, in order to reduce the frequency of fatal injury and property damage
crashes;
• Separate traffic conflict areas by reducing the number of direct access points;
• Provide efficient spacing and size standards between access points and between access points and
intersections;
• Establish uniform access standards to ensure fair and equal application;
• Protect the substantial public investment in the roadway system by preserving capacity and avoiding
the need for unnecessary and costly reconstruction which disrupts business;
• Require coordinated access among several landowners;
• Ensure reasonable access to properties, though the access may not always be direct access;
• Coordinate local management decisions on development proposals with access permit decisions by
the Michigan Department of Transportation (MDOT) and the Otsego County Road Commission,
(OCRC).
SECTION 20.2 LOCATION AND SPACING
20.2.1 In order to minimize left turn conflicts, new access points shall be aligned with those across the
roadway where possible. If alignment is not possible, access points shall be offset a minimum of two
hundred fifty-five feet (255’) from those on the opposite side of the roadway, measured centerline of
access point to centerline of access point. Longer offsets may be required by the Michigan Department
of Transportation (MDOT) in accordance with the MDOT Access Management Guidebook.
20.2.2 Where spacing requirements cannot be met for parcels, lots, or building sites having frontage or
access on more than one roadway, access shall be provided from the lesser traveled roadway.
20.2.3 In the case of expansion, alteration, change of use or redesign of an existing development where
existing access points do not comply with the guidelines set forth herein, the closing, relocation, or
redesign of the access point may he required.
SECTION 20.3 SIGHT DISTANCE
Minimum intersection sight distance shall be ten (10) times the vehicular speed of the road or as per current
MDOT and OCRC standards

XX-1
Table of Contents

Otsego County Zoning Ordinance