21.18 TABLE I: BUFFER YARD REQUIREMENTS

Boundary
Zoning
Districts

R-1

R-1 RESIDENTIAL

N

R-2 GENERALRESIDENTIAL

B

N

R-3 RESIDENTIAL ESTATES

C

B

N

RR RECREATION RESIDENTIAL

C

C

B

N

FR FORESTRY RECREATION

C

C

B

B

N

AR AGRICULTURAL RESOURCE

C

C

C

C

C

N

B-1 LOCAL BUSINESS

B

B

B

B

B

B

N

B-2 GENERAL BUSINESS

C

C

B

C

C

C

B

N

B-3 BUSINESS, LIGHT MANUFACTURING

C

C

C

C

C

C

B

B

N

MUZ MAIN STREET

A

A

A

B

C

C

A

A

B

N

MUZ TOWN CENTER

A

A

A

B

C

C

A

A

C

A

N

HX HIGHWAY INTERCHANGE

C

C

C

C

C

C

B

B

B

B

C

N

I INDUSTRIAL

E

E

E

E

D

D

D

C

C

E

E

C

R-2

R-3

RR

FR

Key: N= No buffer yard required /See TABLE II

XXI-16

AR

B-1

B-2

B-3

MUZ
MAIN

MUZ
TOWN

HX

I

N